$color-gray:#505863;$color-dark-gray:#334155;
$color-violet:#8081BD;
$color-red:#EA5D4A;
$color-dark-red:#59231c;
$color-white:white;
$color-yellow: #F6B31F;
$color-dark-yellow: #7d6531;
$color-light-yellow:#FFF6D1;
$color-pink:#F3ACC8;
$color-yellow2:#FDDC4E;

$color-list:($color-yellow $color-pink $color-violet);

@mixin create_button($text-size, $text-color, $text-weight, $button-width, $button-height, $button-color, $button-border-radius){
    font-size: $text-size;
    color: $text-color;
    font-weight: $text-weight;

    width: $button-width;
    height: $button-height;
    background-color: $button-color;
    border-radius: $button-border-radius;

    text-align: center;
    line-height: $button-height;
}

@mixin create_block($n){
    //border: 1px solid pink;

    display: inline-block;
    width: 460px;
    height: 76px;
    
    @if($n % 3 == 1){
        margin-bottom:25px;
    } 
    @if($n % 3 != 0){
        margin-right: 15px;
    }
    
    > *{
        display: inline-block;
    }
    .img{
        $row: (($n - 1) - ($n - 1) % 3) / 3;
        $col: ($n - 1) % 3;
        $index:( - $row + $col + 3) % 3 + 1;
        background-color: nth($list: $color-list, $n: $index);


        width: 76px;
        height: 76px;
        border-radius: 10px;

        font-size: 45px;
        color: $color-white;
        text-align: center;
    }
    .label{
        //border: 1px solid hotpink;
        padding-left: 20px;
        font-size: 16px;
        color: $color-dark-gray;
        span{
            font-weight: bold;
        }
    }

}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    //width: 1920px;
}

.container{
    width: 1420px;
    //border: 1px solid red;
    margin: 0px auto;
}

header{
    a{
        text-decoration: none;
        color: black;
    }

    nav > *{
        display: inline-block;
    }
    nav{
        margin-top: 32px;
        //border: 1px solid greenyellow;
        .logo{
            margin-left: 12px;
            margin-right: 243px;
            font-family: "Fredoka", sans-serif;
            color: $color-yellow;
            font-size: 5px;

            h1{
                margin: 0px;
                margin-top: -8px;
                font-size: 45px;
                span{
                    color: $color-red;
                }
            }
        }

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            li{
                display: inline-block;
                font-size: 14px;
                margin-right: 20px;
                font-weight: 600;
                a{
                    color: $color-dark-gray;
                }
            }
            li:last-child{
                margin-right: 0px;
            }
        }

        .signUpTour{
            @include create_button(12px, white, 700, 192px, 40px, $color-violet, 50px);
            margin-left: 191px;
        }        
    }

    .hero{
        margin: 116px 0px;
        width: 1420px;
        vertical-align: top;

        //border: 1px solid blueviolet;
        @for $i from 1 through 9{
            .hero#{$i}{
                @include create_block($i);
            }
        }
        .hero7{
            margin-bottom: 0px;
        }
    }
}

.questions1{
    padding-top: 48px;
    padding-bottom: 49px;
    background-color: $color-violet;
    color: $color-white;
    position: relative;
    border-radius: 20px;


    h1{
        //margin: 48px 0px 27px;
        margin: 0px;
        margin-bottom: 27px;
        font-weight: 700;
        font-size: 40px;
        z-index: 0;
    }

    .text{
        font-size: 20px;
        font-weight: 500;
        font-size: 20px;
    }

    form{
        margin-top: 31px;
        //margin-bottom: 49px;
    }
    form > *{
        display: inline-block;
        vertical-align: top;
    }

    input[type="tel"]{
        font-weight: 600;
        font-size: 10px;
        height: 40px;
        width: 308px;
        border-radius: 50px;
        outline: none;
        border: none;
        padding-left: 20px;
        margin-right: 16px;
        font-family: "Montserrat", sans-serif;
        color: $color-dark-gray;
    }

    input[type="submit"]{
        pointer-events: none;
        cursor: default;

        border: none;
        @include create_button(16px, $color-dark-gray, 700, 308px, 40px, $color-dark-yellow, 50px);
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        
        margin-bottom: 20px;
        
    }

    input[type="checkbox"]{
        //display: inline-block;  
        vertical-align: middle;

        margin: 0px;
        appearance: none;
        background-color: $color-white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
    }
    input[type="checkbox"]:checked::after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-dark-gray;
    }

    form:has(input[type="checkbox"]:checked) input[type="submit"]
    {
        pointer-events: auto;
        cursor: pointer;
        background-color: $color-yellow;
    }

    .check{
        position: relative;
    }
    .agreement{
        position: absolute;
        top: 50%;
        left: 132px;
        transform: translate(-50%, -50%);

        display: inline-block;  
        width: 200px;

        vertical-align: middle;
        font-size: 10px;
        font-weight: 600;
        color: $color-white;
        line-height: normal;
        padding: 0px;
        margin: 0px;
    }

    .images{
        > *{
            position: absolute;
        }
        .img-child{
            bottom: 0px;
            right: 378px;
            height: 448px;
            transform:scaleX(-1);
            z-index: 6;
        }
        .img-green-off-item{
            top: -30px;
            right: 300px;
            z-index: 4;
        }
        .img-yellow-item{
            bottom: 20px;
            right: 378px;
            z-index: 3;
        }
        .img-pink-trig{
            bottom: -30px;
            right: 215px;
            z-index: 3;
        }
        .img-white-off-item{
            top: 40px;
            right: 590px;
            z-index: 2;
        }
        .img-pink-circle{
            top: -40px;
            right: 720px;
            z-index: 1;
        }
        .img-green-item{
            bottom: -60px;
            right: 690px;
            z-index: 1;
        }
    }
}

.additServ{
    color: $color-violet;
    h1{
        margin-top: 116px;
        margin-bottom: 41px;
        font-weight: 700;
        font-size: 40px;
    }

    .serv{
        margin-bottom: 116px;
        @for $i from 1 through 11{
            .serv#{$i}{
                background-color: $color-light-yellow;
                display: inline-block;
                height: 100px;
                border-radius: 10px;
                padding: 12px;
                box-sizing: border-box;
                position: relative;

                * {
                    display: inline-block;
                }
                .img{
                    text-align: center;
                    line-height: 76px;

                    height: 76px;
                    width: 76px;
                    font-size: 50px;
                    
                    background-color: $color-white;
                    border-radius: 5px;
                }
                .text{
                    position: absolute;
                    top: 50%;
                    transform: translate(50%, -50%);
                    right: 0;
                    color: $color-dark-gray;
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                }
                
                margin-left: -5px;
                margin-right: 19px;
            }
        }

        .serv1{
            width: 268px;
            .text{
                right: 90px;
            }
            margin-left: 0px;
            margin-bottom: 29px;
        }
        .serv2{
            width: 557px;
            .text{
                right: 234px;
                
            }
        }
        .serv3{
            width: 268px;
            .text{
                right: 90px;   
            }
        }
        .serv4{
            width: 268px;
            .text{
                right: 90px; 
            }
            margin-right: 0px;
        }
        //
        .serv5{
            width: 363px;
            .text{
                right: 138px; 
            }
            margin-left: 0px;
            margin-bottom: 29px;
        }
        .serv6{
            width: 268px;
            .text{
                right: 90px;   
            }
        }
        .serv7{
            width: 363px;
            .text{
                right: 138px;   
            }
        }
        .serv8{
            width: 363px;
            .text{
                right: 138px;   
                width: 250px;
            }
            margin-right: 0px;
        }
        //
        .serv9{
            width: 460px;
            .text{
                right: 186px;   
                width: 350px;
            }
            margin-left: 0px;
            margin-bottom: 29px;
        }
        .serv10{
            width: 460px;
            .text{
                right: 186px;   
                width: 350px;
            }
        }
        .serv11{
            width: 461px;
            .text{
                right: 186px;   
                width: 350px;
            }
            margin-right: 0px;
        }
    }
}

.advantages{
    h1{
        margin: 0px;
        margin-bottom: 24px;
        color: $color-violet;
        font-size: 40px;
        font-weight: 700;
    }

    label{
        font-weight: 500;
        font-size: 20px;
        color: $color-dark-gray;
        width: 1000px;
        display: inline-block;
        margin-bottom: 58px;
    }

    @for $i from 1 through 6{
        .block#{$i}{
            @include create_block($i);
            .label{
                font-weight: 700;
                font-size: 20px;
            }
        }
    }
    .block4{
        margin-bottom: 0px;
    }
    .blocks{
        margin-bottom: 116px;
    }
}

.questions2{
    padding-top: 48px;
    padding-bottom: 49px;

    background-color: $color-light-yellow;
    color: $color-dark-gray;
    position: relative;
    border-radius: 20px;
    margin-bottom: 55px;

    h1{
        //margin: 48px 0px 27px;
        margin: 0px;
        margin-bottom: 27px;

        font-weight: 700;
        font-size: 40px;
        width: 665px;
    }
    .text{
        font-size: 20px;

        font-weight: 500;
        font-size: 20px;
    }

    form{
        margin-top: 31px;
        //margin-bottom: 49px;
    }
    form > *{
        display: inline-block;
        vertical-align: top;
    }

    input[type="tel"]{
        font-weight: 600;
        font-size: 10px;
        height: 40px;
        width: 308px;
        border-radius: 50px;
        outline: none;
        border: none;
        padding-left: 20px;
        margin-right: 16px;
        font-family: "Montserrat", sans-serif;
        color: $color-dark-gray;
        background-color: $color-yellow2;
    }

    input[type="submit"]{
        pointer-events: none;
        cursor: default;

        border: none;
        @include create_button(16px, $color-gray, 700, 308px, 40px, $color-dark-red, 50px);
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        
        margin-bottom: 20px;
        
    }

    input[type="checkbox"]{
        vertical-align: middle;

        margin: 0px;
        appearance: none;
        background-color: $color-dark-gray;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
    }
    input[type="checkbox"]:checked::after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-white;
    }

    form:has(input[type="checkbox"]:checked) input[type="submit"]
    {
        pointer-events: auto;
        cursor: pointer;
        background-color: $color-red;
        color: $color-white;
    }

    .check{
        position: relative;
    }
    .agreement{
        position: absolute;
        top: 50%;
        left: 132px;
        transform: translate(-50%, -50%);

        display: inline-block;  
        width: 200px;

        vertical-align: middle;
        font-size: 10px;
        font-weight: 600;
        color: $color-dark-gray;
        line-height: normal;
        padding: 0px;
        margin: 0px;
        br{
            padding: 0;
            margin: 0px;
        }
    }

    .images{
        > *{
            position: absolute;
            //top: 0;
            right: 0;
        }
        .img-child{
            bottom: 0;
            right: 369px;
            z-index: 5;
        }
        .img-blue-off-item{
            bottom: 25px;
            right: 670px;
            z-index: 4;
        }
        .img-yellow-item{
            bottom: -10px;
            right: 390px;
            z-index: 3;
        }
        .img-red-off-item{
            bottom: 10px;
            right: 300px;
            z-index: 2;
        }
        .img-blue-item{
            bottom: 100px;
            right: 240px;
            z-index: 1;
        }
        .img-green-trig{
            bottom: 300px;
            right: 780px;
            z-index: 1;
        }
        .img-green-el{
            bottom: 210px;
            right: 605px;
            z-index: 1;
        }
    }
}