$color-dark-gray:#334155;
$color-violet:#8081BD;
$color-red:#EA5D4A;
$color-white:white;
$color-yellow: #F6B31F;
$color-pink:#F3ACC8;

$color-list:($color-yellow $color-pink $color-violet);

@mixin create_button($text-size, $text-color, $text-weight, $button-width, $button-height, $button-color, $button-border-radius){
    font-size: $text-size;
    color: $text-color;
    font-weight: $text-weight;

    width: $button-width;
    height: $button-height;
    background-color: $button-color;
    border-radius: $button-border-radius;

    text-align: center;
    line-height: $button-height;
}

@mixin create_block($n, $end){
    //border: 1px solid pink;

    display: inline-block;
    width: 460px;
    height: 76px;
    
    @if($n % 3 == 0  and $n != $end){
        margin-bottom:25px;
    } 
    @if($n % 3 != 0){
        margin-right: 15px;
    }
    
    > *{
        display: inline-block;
    }
    .img{
        $row: (($n - 1) - ($n - 1) % 3) / 3;
        $col: ($n - 1) % 3;
        $index:( - $row + $col + 3) % 3 + 1;
        background-color: nth($list: $color-list, $n: $index);


        width: 76px;
        height: 76px;
        border-radius: 10px;

        font-size: 45px;
        color: $color-white;
        text-align: center;
    }
    .label{
        //border: 1px solid hotpink;
        padding-left: 20px;
        font-size: 16px;
        color: $color-dark-gray;
        span{
            font-weight: bold;
        }
    }

}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    //width: 1920px;
}

.container{
    width: 1420px;
    border: 1px solid red;
    margin: 0px auto;
}

header{
    a{
        text-decoration: none;
        color: black;
    }

    nav > *{
        display: inline-block;
    }
    nav{
        border: 1px solid greenyellow;
        .logo{
            margin-right: 243px;
            font-family: "Fredoka", sans-serif;
            color: $color-yellow;
            font-size: 5px;

            h1{
                margin: 0px;
                margin-top: -8px;
                font-size: 40px;
                span{
                    color: $color-red;
                }
            }
        }

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            li{
                display: inline-block;

                font-size: 14px;
                color: $color-dark-gray;
                margin-right: 20px;
                font-weight: 600;
            }
        }

        .signUpTour{
            @include create_button(12px, white, 700, 192px, 40px, $color-violet, 50px);
            margin-left: 200px;
        }        
    }

    .hero{
        margin: 116px 0px;
        width: 1420px;
        vertical-align: top;

        border: 1px solid blueviolet;
        @for $i from 1 through 9{
            .hero#{$i}{
                @include create_block($i, 9);
            }
        }
    }
}