$color-dark-gray:#334155;
$color-violet:#8081BD;
$color-red:#EA5D4A;
$color-white:white;
$color-yellow: #F6B31F;
$color-dark-yellow: #7d6531;
$color-pink:#F3ACC8;

$color-list:($color-yellow $color-pink $color-violet);

@mixin create_button($text-size, $text-color, $text-weight, $button-width, $button-height, $button-color, $button-border-radius){
    font-size: $text-size;
    color: $text-color;
    font-weight: $text-weight;

    width: $button-width;
    height: $button-height;
    background-color: $button-color;
    border-radius: $button-border-radius;

    text-align: center;
    line-height: $button-height;
}

@mixin create_block($n, $end){
    //border: 1px solid pink;

    display: inline-block;
    width: 460px;
    height: 76px;
    
    @if($n % 3 == 0  and $n != $end){
        margin-bottom:25px;
    } 
    @if($n % 3 != 0){
        margin-right: 15px;
    }
    
    > *{
        display: inline-block;
    }
    .img{
        $row: (($n - 1) - ($n - 1) % 3) / 3;
        $col: ($n - 1) % 3;
        $index:( - $row + $col + 3) % 3 + 1;
        background-color: nth($list: $color-list, $n: $index);


        width: 76px;
        height: 76px;
        border-radius: 10px;

        font-size: 45px;
        color: $color-white;
        text-align: center;
    }
    .label{
        //border: 1px solid hotpink;
        padding-left: 20px;
        font-size: 16px;
        color: $color-dark-gray;
        span{
            font-weight: bold;
        }
    }

}

body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    //width: 1920px;
}

.container{
    width: 1420px;
    border: 1px solid red;
    margin: 0px auto;
}

header{
    a{
        text-decoration: none;
        color: black;
    }

    nav > *{
        display: inline-block;
    }
    nav{
        margin-top: 32px;
        border: 1px solid greenyellow;
        .logo{
            margin-left: 12px;
            margin-right: 243px;
            font-family: "Fredoka", sans-serif;
            color: $color-yellow;
            font-size: 5px;

            h1{
                margin: 0px;
                margin-top: -8px;
                font-size: 45px;
                span{
                    color: $color-red;
                }
            }
        }

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            li{
                display: inline-block;
                font-size: 14px;
                margin-right: 20px;
                font-weight: 600;
                a{
                    color: $color-dark-gray;
                }
            }
            li:last-child{
                margin-right: 0px;
            }
        }

        .signUpTour{
            @include create_button(12px, white, 700, 192px, 40px, $color-violet, 50px);
            margin-left: 191px;
        }        
    }

    .hero{
        margin: 116px 0px;
        width: 1420px;
        vertical-align: top;

        border: 1px solid blueviolet;
        @for $i from 1 through 9{
            .hero#{$i}{
                @include create_block($i, 9);
            }
        }
    }
}

.questions1{
    background-color: $color-violet;
    color: $color-white;
    position: relative;

    h1{
        margin: 48px 0px 27px;

        font-weight: 700;
        font-size: 40px;
        z-index: 0;
    }

    .text{
        font-size: 20px;

        font-weight: 500;
        font-size: 20px;
    }

    form{
        margin-top: 31px;
        margin-bottom: 49px;
    }
    form > *{
        display: inline-block;
        vertical-align: top;
    }

    input[type="tel"]{
        font-weight: 600;
        font-size: 10px;
        height: 40px;
        width: 308px;
        border-radius: 50px;
        outline: none;
        border: none;
        padding-left: 20px;
        margin-right: 16px;
        font-family: "Montserrat", sans-serif;
        color: $color-dark-gray;
    }

    input[type="submit"]{
        pointer-events: none;
        cursor: default;

        border: none;
        @include create_button(16px, $color-dark-gray, 700, 308px, 40px, $color-dark-yellow, 50px);
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        
        margin-bottom: 20px;
        
    }

    input[type="checkbox"]{
        margin: 0px;
        appearance: none;
        background-color: $color-white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: relative;
    }
    input[type="checkbox"]:checked::after{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color-dark-gray;
    }

    form:has(input[type="checkbox"]:checked) input[type="submit"]
    {
        pointer-events: auto;
        cursor: pointer;
        background-color: $color-yellow;
    }

    .agreement{
        vertical-align: middle;
        font-size: 10px;
        font-weight: 600;
        color: $color-white;
        line-height: normal;
        padding: 0px;
        margin: 0px;
        br{
            padding: 0;
            margin: 0px;
        }
    }

    .images{
        > *{
            position: absolute;
        }
        .img-child{
            bottom: 0px;
            right: 378px;
            height: 448px;
            transform:scaleX(-1);
            z-index: 6;
        }
        .img-green-off-item{
            top: -30px;
            right: 300px;
            z-index: 4;
        }
        .img-yellow-item{
            bottom: 20px;
            right: 378px;
            z-index: 3;
        }
        .img-pink-trig{
            bottom: -30px;
            right: 215px;
            z-index: 3;
        }
        .img-white-off-item{
            top: 40px;
            right: 590px;
            z-index: 2;
        }
        .img-pink-circle{
            top: -40px;
            right: 720px;
            z-index: 1;
        }
        .img-green-item{
            bottom: -60px;
            right: 690px;
            z-index: 1;
        }
    }
}