body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1420px;
  margin: 0px auto;
}

header a {
  text-decoration: none;
  color: black;
}
header nav > * {
  display: inline-block;
}
header nav {
  margin-top: 32px;
}
header nav .logo {
  margin-left: 12px;
  margin-right: 243px;
  font-family: "Fredoka", sans-serif;
  color: #F6B31F;
  font-size: 5px;
}
header nav .logo h1 {
  margin: 0px;
  margin-top: -8px;
  font-size: 45px;
}
header nav .logo h1 span {
  color: #EA5D4A;
}
header nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
header nav ul li {
  display: inline-block;
  font-size: 14px;
  margin-right: 20px;
  font-weight: 600;
}
header nav ul li a {
  color: #334155;
}
header nav ul li:last-child {
  margin-right: 0px;
}
header nav .signUpTour {
  font-size: 12px;
  color: white;
  font-weight: 700;
  width: 192px;
  height: 40px;
  background-color: #8081BD;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  margin-left: 191px;
}
header .hero {
  margin: 116px 0px;
  width: 1420px;
  vertical-align: top;
}
header .hero .hero1 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-bottom: 25px;
  margin-right: 15px;
}
header .hero .hero1 > * {
  display: inline-block;
}
header .hero .hero1 .img {
  background-color: #F6B31F;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero1 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero1 .label span {
  font-weight: bold;
}
header .hero .hero2 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-right: 15px;
}
header .hero .hero2 > * {
  display: inline-block;
}
header .hero .hero2 .img {
  background-color: #F3ACC8;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero2 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero2 .label span {
  font-weight: bold;
}
header .hero .hero3 {
  display: inline-block;
  width: 460px;
  height: 76px;
}
header .hero .hero3 > * {
  display: inline-block;
}
header .hero .hero3 .img {
  background-color: #8081BD;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero3 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero3 .label span {
  font-weight: bold;
}
header .hero .hero4 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-bottom: 25px;
  margin-right: 15px;
}
header .hero .hero4 > * {
  display: inline-block;
}
header .hero .hero4 .img {
  background-color: #8081BD;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero4 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero4 .label span {
  font-weight: bold;
}
header .hero .hero5 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-right: 15px;
}
header .hero .hero5 > * {
  display: inline-block;
}
header .hero .hero5 .img {
  background-color: #F6B31F;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero5 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero5 .label span {
  font-weight: bold;
}
header .hero .hero6 {
  display: inline-block;
  width: 460px;
  height: 76px;
}
header .hero .hero6 > * {
  display: inline-block;
}
header .hero .hero6 .img {
  background-color: #F3ACC8;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero6 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero6 .label span {
  font-weight: bold;
}
header .hero .hero7 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-bottom: 25px;
  margin-right: 15px;
}
header .hero .hero7 > * {
  display: inline-block;
}
header .hero .hero7 .img {
  background-color: #F3ACC8;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero7 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero7 .label span {
  font-weight: bold;
}
header .hero .hero8 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-right: 15px;
}
header .hero .hero8 > * {
  display: inline-block;
}
header .hero .hero8 .img {
  background-color: #8081BD;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero8 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero8 .label span {
  font-weight: bold;
}
header .hero .hero9 {
  display: inline-block;
  width: 460px;
  height: 76px;
}
header .hero .hero9 > * {
  display: inline-block;
}
header .hero .hero9 .img {
  background-color: #F6B31F;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
header .hero .hero9 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
header .hero .hero9 .label span {
  font-weight: bold;
}
header .hero .hero7 {
  margin-bottom: 0px;
}

.questions1 {
  padding-top: 48px;
  padding-bottom: 49px;
  background-color: #8081BD;
  color: white;
  position: relative;
  border-radius: 20px;
}
.questions1 h1 {
  position: relative;
  z-index: 100;
  margin: 0px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
}
.questions1 .text {
  position: relative;
  z-index: 10;
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
}
.questions1 form {
  position: relative;
  z-index: 10;
  margin-top: 31px;
}
.questions1 form > * {
  display: inline-block;
  vertical-align: top;
}
.questions1 input[type=tel] {
  font-weight: 600;
  font-size: 10px;
  height: 40px;
  width: 308px;
  border-radius: 50px;
  outline: none;
  border: none;
  padding-left: 20px;
  margin-right: 16px;
  font-family: "Montserrat", sans-serif;
  color: #334155;
}
.questions1 input[type=submit] {
  pointer-events: none;
  cursor: default;
  border: none;
  font-size: 16px;
  color: #334155;
  font-weight: 700;
  width: 308px;
  height: 40px;
  background-color: #7d6531;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
.questions1 input[type=checkbox] {
  vertical-align: middle;
  margin: 0px;
  appearance: none;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
}
.questions1 input[type=checkbox]:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #334155;
}
.questions1 form:has(input[type=checkbox]:checked) input[type=submit] {
  pointer-events: auto;
  cursor: pointer;
  background-color: #F6B31F;
}
.questions1 .check {
  position: relative;
}
.questions1 .agreement {
  position: absolute;
  top: 50%;
  left: 132px;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  font-size: 10px;
  font-weight: 600;
  color: white;
  line-height: normal;
  padding: 0px;
  margin: 0px;
}
.questions1 .images > * {
  position: absolute;
}
.questions1 .images .img-child {
  bottom: 0px;
  right: 378px;
  height: 448px;
  transform: scaleX(-1);
  z-index: 6;
}
.questions1 .images .img-green-off-item {
  top: -30px;
  right: 300px;
  z-index: 4;
}
.questions1 .images .img-yellow-item {
  bottom: 20px;
  right: 378px;
  z-index: 3;
}
.questions1 .images .img-pink-trig {
  bottom: -30px;
  right: 215px;
  z-index: 3;
}
.questions1 .images .img-white-off-item {
  top: 40px;
  right: 590px;
  z-index: 2;
}
.questions1 .images .img-pink-circle {
  top: -40px;
  right: 720px;
  z-index: 1;
}
.questions1 .images .img-green-item {
  bottom: -60px;
  right: 690px;
  z-index: 1;
}

.additServ {
  color: #8081BD;
}
.additServ h1 {
  margin-top: 116px;
  margin-bottom: 41px;
  font-weight: 700;
  font-size: 40px;
}
.additServ .serv {
  margin-bottom: 116px;
}
.additServ .serv .serv1 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv1 * {
  display: inline-block;
}
.additServ .serv .serv1 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv1 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv1 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv2 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv2 * {
  display: inline-block;
}
.additServ .serv .serv2 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv2 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv2 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv3 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv3 * {
  display: inline-block;
}
.additServ .serv .serv3 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv3 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv3 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv4 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv4 * {
  display: inline-block;
}
.additServ .serv .serv4 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv4 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv4 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv5 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv5 * {
  display: inline-block;
}
.additServ .serv .serv5 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv5 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv5 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv6 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv6 * {
  display: inline-block;
}
.additServ .serv .serv6 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv6 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv6 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv7 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv7 * {
  display: inline-block;
}
.additServ .serv .serv7 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv7 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv7 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv8 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv8 * {
  display: inline-block;
}
.additServ .serv .serv8 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv8 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv8 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv9 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv9 * {
  display: inline-block;
}
.additServ .serv .serv9 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv9 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv9 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv10 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv10 * {
  display: inline-block;
}
.additServ .serv .serv10 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv10 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv10 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv11 {
  background-color: #FFF6D1;
  display: inline-block;
  height: 100px;
  border-radius: 10px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
}
.additServ .serv .serv11 * {
  display: inline-block;
}
.additServ .serv .serv11 .img {
  text-align: center;
  line-height: 76px;
  height: 76px;
  width: 76px;
  font-size: 50px;
  background-color: white;
  border-radius: 5px;
}
.additServ .serv .serv11 .text {
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: 0;
  color: #334155;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.additServ .serv .serv11 {
  margin-left: -5px;
  margin-right: 19px;
}
.additServ .serv .serv1 {
  width: 268px;
}
.additServ .serv .serv1 .text {
  right: 90px;
}
.additServ .serv .serv1 {
  margin-left: 0px;
  margin-bottom: 29px;
}
.additServ .serv .serv2 {
  width: 557px;
}
.additServ .serv .serv2 .text {
  right: 234px;
}
.additServ .serv .serv3 {
  width: 268px;
}
.additServ .serv .serv3 .text {
  right: 90px;
}
.additServ .serv .serv4 {
  width: 268px;
}
.additServ .serv .serv4 .text {
  right: 90px;
}
.additServ .serv .serv4 {
  margin-right: 0px;
}
.additServ .serv .serv5 {
  width: 363px;
}
.additServ .serv .serv5 .text {
  right: 138px;
}
.additServ .serv .serv5 {
  margin-left: 0px;
  margin-bottom: 29px;
}
.additServ .serv .serv6 {
  width: 268px;
}
.additServ .serv .serv6 .text {
  right: 90px;
}
.additServ .serv .serv7 {
  width: 363px;
}
.additServ .serv .serv7 .text {
  right: 138px;
}
.additServ .serv .serv8 {
  width: 363px;
}
.additServ .serv .serv8 .text {
  right: 138px;
  width: 250px;
}
.additServ .serv .serv8 {
  margin-right: 0px;
}
.additServ .serv .serv9 {
  width: 460px;
}
.additServ .serv .serv9 .text {
  right: 186px;
  width: 350px;
}
.additServ .serv .serv9 {
  margin-left: 0px;
  margin-bottom: 29px;
}
.additServ .serv .serv10 {
  width: 460px;
}
.additServ .serv .serv10 .text {
  right: 186px;
  width: 350px;
}
.additServ .serv .serv11 {
  width: 461px;
}
.additServ .serv .serv11 .text {
  right: 186px;
  width: 350px;
}
.additServ .serv .serv11 {
  margin-right: 0px;
}

.advantages h1 {
  margin: 0px;
  margin-bottom: 24px;
  color: #8081BD;
  font-size: 40px;
  font-weight: 700;
}
.advantages label {
  font-weight: 500;
  font-size: 20px;
  color: #334155;
  width: 1000px;
  display: inline-block;
  margin-bottom: 58px;
}
.advantages .block1 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-bottom: 25px;
  margin-right: 15px;
}
.advantages .block1 > * {
  display: inline-block;
}
.advantages .block1 .img {
  background-color: #F6B31F;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
.advantages .block1 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
.advantages .block1 .label span {
  font-weight: bold;
}
.advantages .block1 .label {
  font-weight: 700;
  font-size: 20px;
}
.advantages .block2 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-right: 15px;
}
.advantages .block2 > * {
  display: inline-block;
}
.advantages .block2 .img {
  background-color: #F3ACC8;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
.advantages .block2 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
.advantages .block2 .label span {
  font-weight: bold;
}
.advantages .block2 .label {
  font-weight: 700;
  font-size: 20px;
}
.advantages .block3 {
  display: inline-block;
  width: 460px;
  height: 76px;
}
.advantages .block3 > * {
  display: inline-block;
}
.advantages .block3 .img {
  background-color: #8081BD;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
.advantages .block3 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
.advantages .block3 .label span {
  font-weight: bold;
}
.advantages .block3 .label {
  font-weight: 700;
  font-size: 20px;
}
.advantages .block4 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-bottom: 25px;
  margin-right: 15px;
}
.advantages .block4 > * {
  display: inline-block;
}
.advantages .block4 .img {
  background-color: #8081BD;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
.advantages .block4 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
.advantages .block4 .label span {
  font-weight: bold;
}
.advantages .block4 .label {
  font-weight: 700;
  font-size: 20px;
}
.advantages .block5 {
  display: inline-block;
  width: 460px;
  height: 76px;
  margin-right: 15px;
}
.advantages .block5 > * {
  display: inline-block;
}
.advantages .block5 .img {
  background-color: #F6B31F;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
.advantages .block5 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
.advantages .block5 .label span {
  font-weight: bold;
}
.advantages .block5 .label {
  font-weight: 700;
  font-size: 20px;
}
.advantages .block6 {
  display: inline-block;
  width: 460px;
  height: 76px;
}
.advantages .block6 > * {
  display: inline-block;
}
.advantages .block6 .img {
  background-color: #F3ACC8;
  width: 76px;
  height: 76px;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  text-align: center;
}
.advantages .block6 .label {
  padding-left: 20px;
  font-size: 16px;
  color: #334155;
}
.advantages .block6 .label span {
  font-weight: bold;
}
.advantages .block6 .label {
  font-weight: 700;
  font-size: 20px;
}
.advantages .block4 {
  margin-bottom: 0px;
}
.advantages .blocks {
  margin-bottom: 116px;
}

.questions2 {
  padding-top: 48px;
  padding-bottom: 49px;
  background-color: #FFF6D1;
  color: #334155;
  position: relative;
  border-radius: 20px;
  margin-bottom: 55px;
}
.questions2 h1 {
  position: relative;
  z-index: 10;
  margin: 0px;
  margin-bottom: 27px;
  font-weight: 700;
  font-size: 40px;
  width: 665px;
}
.questions2 .text {
  position: relative;
  z-index: 10;
  font-size: 20px;
  font-weight: 500;
  font-size: 20px;
}
.questions2 form {
  position: relative;
  z-index: 10;
  margin-top: 31px;
}
.questions2 form > * {
  display: inline-block;
  vertical-align: top;
}
.questions2 input[type=tel] {
  font-weight: 600;
  font-size: 10px;
  height: 40px;
  width: 308px;
  border-radius: 50px;
  outline: none;
  border: none;
  padding-left: 20px;
  margin-right: 16px;
  font-family: "Montserrat", sans-serif;
  color: #334155;
  background-color: #FDDC4E;
}
.questions2 input[type=submit] {
  pointer-events: none;
  cursor: default;
  border: none;
  font-size: 16px;
  color: #505863;
  font-weight: 700;
  width: 308px;
  height: 40px;
  background-color: #59231c;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
.questions2 input[type=checkbox] {
  vertical-align: middle;
  margin: 0px;
  appearance: none;
  background-color: #334155;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
}
.questions2 input[type=checkbox]:checked::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}
.questions2 form:has(input[type=checkbox]:checked) input[type=submit] {
  pointer-events: auto;
  cursor: pointer;
  background-color: #EA5D4A;
  color: white;
}
.questions2 .check {
  position: relative;
}
.questions2 .agreement {
  position: absolute;
  top: 50%;
  left: 132px;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 200px;
  vertical-align: middle;
  font-size: 10px;
  font-weight: 600;
  color: #334155;
  line-height: normal;
  padding: 0px;
  margin: 0px;
}
.questions2 .agreement br {
  padding: 0;
  margin: 0px;
}
.questions2 .images > * {
  position: absolute;
  right: 0;
}
.questions2 .images .img-child {
  bottom: 0;
  right: 369px;
  z-index: 5;
}
.questions2 .images .img-blue-off-item {
  bottom: 25px;
  right: 670px;
  z-index: 4;
}
.questions2 .images .img-yellow-item {
  bottom: -10px;
  right: 390px;
  z-index: 3;
}
.questions2 .images .img-red-off-item {
  bottom: 10px;
  right: 300px;
  z-index: 2;
}
.questions2 .images .img-blue-item {
  bottom: 100px;
  right: 240px;
  z-index: 1;
}
.questions2 .images .img-green-trig {
  bottom: 300px;
  right: 780px;
  z-index: 1;
}
.questions2 .images .img-green-el {
  bottom: 210px;
  right: 605px;
  z-index: 1;
}

/*# sourceMappingURL=output.css.map */
